html
    head
        meta(property='title' content=title)
        meta(property='description' content=description)

        meta(property='og:site_name' content=site_name)
        meta(property='og:title' content=title)
        meta(property='og:url' content=req_url)
        meta(property='og:type' content='website')
        meta(property='og:description' content=description)
        meta(property='og:image' content=image)


        meta(property='twitter:url' content=req_url)
        meta(property='twitter:title' content=title)
        meta(property='twitter:description' content=description)
        meta(property='twitter:image' content=image)
    body
